{% extends "hyde/templates/index.html" %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ get_url(path="index.css", trailing_slash=false) }}"
{% endblock extra_head %}

{% block sidebar_nav %}
  {% set root = get_section(path="_index.md") %}
  {% for subsection in root.subsections %}
    {% set current_subsection = get_section(path=subsection) %}
    <li class="sidebar-nav-item">
      <a href="{{ current_subsection.permalink }}">{{ current_subsection.title }}</a>
      <br />
      <p class="sidebar-nav-subitem">{{ current_subsection.description }}</p>
      </ul>
    </li>
  {% endfor %}

  <!--
  {% for link in config.extra.hyde_links %}
    <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
  {% endfor %}
  -->
{% endblock sidebar_nav %}

{% block content %}
  {{ section.content | safe }}
{% endblock content %}
